<% provide(:title, 'Home') %>
<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/show_top_posts' %>
			</section>
			<section>
				<%= render 'shared/post_form' %>
			</section>
		</aside>
	</div>
<% else %>
	<div class="center hero-unit">
		<h1>Home Page</h1>
    	<p>Welcome to Reddit Demo</p>
    	<%= link_to "Sign up now!",signup_path, 
    			class: "btn btn-large btn-primary" %>
	</div>
<% end %>
    
