<li>
	<span class="comment_content"><%= comment.content %></span>
	<span class="timestamp">
		Posted at <%= time_tag(comment.created_at) %> by 
		<% if comment.user %>
			<%= link_to comment.user.name, user_path(comment.user) %> 
		<% else %>
			Deleted account
		<% end %>
	</span></br>
	<% if current_user.admin? %>
			<%= link_to "delete this comment", comment, method: :delete, data: { confirm: "You sure?" } %>
	<% end %>		
</li>	